spring:
  application:
    name: FilmAgent
    version: 1.0.0
  profiles:
    active: dev
server:
  port: 8089
  servlet:
    context-path: /api
# springdoc-openapi config
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.xiaosa.filmagent.controller
# knife4j config
knife4j:
  enable: true
  setting:
    language: zh_cn
# ????????? Spring AI ??????
logging:
  level:
    org.springframework.ai: DEBUG